Django
djangorestframework
fastapi
uvicorn
requests
python-dotenv
kubernetes
python-jenkins
gunicorn
whitenoise
django-cors-headers
django-environ
psycopg2-binary
django-filter
django-crispy-forms
crispy-bootstrap5
drf-spectacular
crispy-tailwind
